// Common list styles can be found in "./common.styles/layouts/lists"
$list-big-description-font-size: 12px;

list-1-page {
	ion-header {
		@include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
	}
	.forms-examples-segment
		{
			padding: 14px 0px;
			//background-color: #ad71c9d0;

			@include element-shadow();

			@include segment-button-styles($theme-color-2);

			.segment-button
			{
				@include segment-text-styles($white-d);
			}
		}
		.bouton{
			color: white;
		}
	.plus{
		font-size: 40px;
		color: white;
		padding-left: 70%;
	}
	.logout{
		color: white;
		font-size: 16px;
		padding-left: 30px;
	}
	.list-big-content
	{
		background-color: color($colors, background, base);

		.list-big
		{
			@include layout-list-styles($theme-color-2, $white-d);

			ion-list {
				.list-item
				{

				//	.content-row
				//	{
						//align-items: center;
				//	}





						.item-title
						{
							margin-bottom: 8px;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							margin-left:6px ;
							color: #be79df;
							font-size:17px

						}

						.item-description
						{
							@include multi-line-ellipsis($list-big-description-font-size);
						}
						.item-desc{
							margin-left: 16px;
						}
				}
			}
		}
	}
}
