@mixin categories-title-style($color){
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 8vw;
	font-weight: 900;
	letter-spacing: 0.4px;
	color: $color;
	margin: 0px;
}

listing-page {
	$categories-heading-image-height: 150px;
	$categories-grid-padding: 10px;
	$categories-horizontal-list-padding: 10px;

	.geolocation-button
          {
            color: $black-d;
            margin-left: -3px;


              color: $theme-color-1;

          }

	.search-toolbar
	{
		padding: 0px 10px;

		.toolbar-background
		{
			background: color($colors, background, base);
			border: none;
			@include element-shadow();
		}

		&.transparent-background
		{
			.toolbar-background
			{
				background: transparent;
				box-shadow: none;
			}

			ion-searchbar.search-places-bar
			{
				.searchbar-input
				{
					background-color: $white;
				}
			}
		}

		.bar-buttons
		{
			margin: 0px;

			.geolocation-button
			{
				color: $black-d;
				margin-left: -3px;

				&.using-geolocation
				{
					color: $theme-color-1;
				}
			}
		}

		ion-searchbar.search-places-bar
		{
			background: transparent;
			padding: 10px 0px;
			padding-left: 5px;
			border: none;

			.searchbar-input
			{
				border-radius: 1.5rem;
				color: $theme-color-2;
				background-color: $white-c;
			}

			.searchbar-search-icon {
				@include ios-searchbar-icon($searchbar-ios-input-search-icon-svg, $theme-color-2);
			}
		}

		.category{
			border-radius: 1.5rem;
				color: $theme-color-2;
				background-color: $white-c;;
		}
	}


	.listing-header
	{
		.header-logo
		{
			width: 34vw;
		}
	}

	.listing-content
	{
		.title{
			font-size:14px;
		}
		.alt-button
		{
			margin: 0px;
			background-color: $white;
			font-size: 1.4rem;
			letter-spacing: 0.2px;
			color: $white-d;

			@include element-shadow();
		}

		.logout-button
		{
			margin: 14px 0px 20px;
			padding: 0px 20px;

			.button-inner
			{
				justify-content: flex-start;
			}

			ion-icon {
			  font-size: 1.8em;
			}
		}
		.image-heading
		{
			height: $categories-heading-image-height;

			.bg-overlay
			{
				z-index: 1;
				background-color: rgba($black-c, .6);
			}

			ion-spinner {
				z-index: 2;
			}

			@include spinner-color($white);

			.heading-row
			{
				height: 100%;
				width: 100%;
				z-index: 3;
  			position: absolute;
				align-items: center;

				.main-title
				{
					@include categories-title-style($white);
					font-size: 10vw;
				}
			}
		}

		.categories-title
		{
			font-size: 1.2rem;
			font-weight: 400;
			letter-spacing: 0.7px;
			color: $white-d;
			margin: 8px 16px 16px;
		}

		.horizontal-categories
		{
			border-bottom: 10px solid $white-a;
			@include element-shadow();
			padding-bottom: 16px;

			.scroll-content
			{
				position: relative;
				contain: style layout;
			}

			preload-image {
				border-radius: 50%;

				img	{
					border-radius: 50%;
				}
			}

			.categories-row
			{
				flex-wrap: nowrap;

				&::after{
					content: '';
					flex: 0 0 $categories-horizontal-list-padding;
			    max-width: $categories-horizontal-list-padding;
				}
			}

			.horizontal-item
			{
				padding: 0px 0px 0px $categories-horizontal-list-padding;
			}
		}

		.grid-categories
		{
			padding: 0px ($categories-grid-padding/2);
			flex-wrap: wrap;

			.category-item
			{
				padding: 0px ($categories-grid-padding/2) $categories-grid-padding;

				.category-heading
				{
					padding-bottom: 100%;

					.bg-overlay
					{
						z-index: 1;
						background-color: rgba($black-c, .6);
					}

					ion-spinner {
						z-index: 2;
					}

					.desc{
						color: red;
					}
					.name{
						color: $theme-color-2;
					}

					@include spinner-color($white);

					.heading-row
					{
						height: 100%;
						width: 100%;
						z-index: 3;
		  			position: absolute;
						align-items: center;

						.category-title
						{
							@include categories-title-style($white);
						}


					}

				}
			}
		}
	}
}
